.card{
display:flex;
flex-wrap: wrap;
}


.slide-title{
    font-size: 24px;
    color: #e5e5e5;
    font-weight: bold;
    margin-left: 56px;
    margin-right: 56px;
    margin-top: 0;

}
.card-img{
    border: 0;
    width: 100%;
    max-width: 305px;
    cursor: pointer;
    height: auto;
    padding: 0;
    margin: 0;
}
.card-meta{
    display: none;
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: #0000008f;
    .description{
        margin-top: 5px;
        font-size: 10px;
        color: white;
        margin-bottom: 0;
        user-select: none;
        display: none;
        line-height: normal;
    }
    .subTitle{
        font-size: 12px;
        color: white;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
        user-select: none;
        display: none;
    }
}
.card-item{
    flex:1;
    display:flex;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2;
    &:hover {
    transform: scale(1.1);
    z-index: 99;
    &:first-of-type {
        margin-left: 56px;
    

    }

&:last-of-type {
    margin-right: 56px;
    

}
}
}

@media (min-width: 1000px) {
    .card-item{
        &:hover .card-meta, &:hover .description, &:hover .subTitle {
            display: block;
            z-index: 100;
        }
    }

}
@media (max-width: 1000px) {
   .card-item{
    &:first-of-type{
        margin-left: 30px;

    }
    &:last-of-type{
        margin-right: 30px;

    }
   }
}

.fims-feature-container{
    flex-basis: 100%;
    width:100%;
    
  
}
.feature-whole{
    display: flex;
    flex-direction: row;
    background-size: contain;
    position: relative;
    height: 360px;
    width:100%;
    background-position-x: right;
    background-repeat: no-repeat;
    background-color: black;
    .content{
        width:50%;
        padding:1em;
        margin:30px;
        max-width: 500px;
        line-height: normal;
        .feature-title{
            font-size: 24px;
            color: #e5e5e5;
            font-weight: bold;
            margin-left: 56px;
            margin-right: 56px;
            margin-top: 0;
            margin-left: 0;
        }
        .feature-text{
            font-size: 14px;
            color: white;
            font-weight: bold;
            margin: 0;
            
           
        }
        .feature-close{
            color: white;
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;
            background-color: transparent;
            border: 0;
            
            img {
                filter: brightness(0) invert(1);
                width: 24px;
            }
        }
    }
    img{
        width:70%;
        height:100%;
    }
   
   
    
   
}
@media (max-width: 1000px) {
    // .content{
    //     margin: 30px;
    // max-width: none;
    // }
}
@media (max-width: 1000px) {
   .feature-whole{
    height: auto;
    background-size: auto;
    
    .feature-title{
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .feature-text {
        font-size: 14px;
    }
   }
}


@media (max-width: 800px) {
    .feature-text{
        line-height: 22px;
}
    }

    .feature-group{
        display: flex;
        flex-direction:row;
        align-items: center;
        margin:30px 0
        
     
    }
    // ${Container}:first-of-type {
    //     @media (min-width: 1100px) {
    //         margin-top: -150px;
    //     }
    // }
    .maturity{
        border-radius: 15px;
        width: 20px;
        padding: 5px;
        text-align: center;
        color: white;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        margin-right: 10px;
        font-size: 12px;
    }



    .player{
        position: absolute;    
        bottom:4em;
        video {
            height: 100%;
            width: 100%;
        }
        .player-button{
            background-color: #e50914;
            border-color: #ff0a16;
            width: 115px;
            height: 45px;
            text-transform: uppercase;
            font-weight: bold;
            color: white;
            font-size: 18px;
            height: 45px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 0;
            
            &:hover {
                transform: scale(1.05);
                background-color: #ff0a16;
            }
        }
    }