.active{
    font-weight: 700;
}
.browse-header{
     background-image: url("../../../images/misc/joker1.jpg");
     background-size: cover;

    .browser-navbar-header{
        color:white;
        display:flex;
        align-items: center;
        gap:2em;
        p{
            cursor: pointer;
        }
    }
    .browse-feature{
        margin: 0 56px;

        padding: 150px 0 500px 0;
        flex-direction: column;
        align-items: normal;
        width: 50%;
        .browse-feature-callout{
            color: white;
            font-size: 50px;
            line-height: normal;
            font-weight: bold;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
            margin: 0;
        }
        .browse-feature-text{
            color: white;
            font-size: 22px;
            line-height: normal;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
        }
        .playBtn{
            box-shadow: 0 0.6vw 1vw -0.4vw rgba(0, 0, 0, 0.35);
            background-color: #e6e6e6;
            color: #000;
            border-width: 0;
            padding: 10px 25px;
            border-radius: 5px;
            max-width: 130px;
            font-weight: bold;
            font-size: 20px;
            margin-top: 10px;
            cursor: pointer;
            transition: 0.5s ease;
            &:hover {
                background: #ff1e1e;
                color: white;
            }
        }
    }

}
.searchBox{
    margin-left: auto;
    margin-right: 1em;
}


@media (max-width: 1100px) {
   .browse-feature{
    display: none;
   }
}