.container{
    background-color: black;

}
.item{
    display: flex;
    border-bottom: 8px solid #222;
    padding: 50px 5%;
    color: white;
    overflow: hidden;
}

 // @media (max-width: 1000px) {
    //     ${Item}:last-of-type h2 {
    //         margin-bottom: 50px;
    //     }
    // }