.header-parent{
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-image: url("../../../images/misc/home-bg.jpg");

   
  
    .feature{
        margin:auto auto
     } 
}
    @media (min-width: 1449px) {
       .logo{
        height: 45px;
        width: 167px;
       }
    }
