.header-parent{
    height: 100vh;
    background-image: url("../../../images/misc/home-bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
   
    .frame{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 18px 0;
        justify-content: space-between;
        align-items: center;
        .logo{
            height: 32px;
            width: 108px;
            margin:0 56px;
        } 
        .btn-link{
            display: block;
            background-color: #e50914;
            width: 84px;
            height: fit-content;
            color: white;
            border: 0;
            font-size: 15px;
            border-radius: 3px;
            padding: 8px 17px;
            cursor: pointer;
            text-decoration: none !important;
            box-sizing: border-box;
            
            &:hover {
                background: #f40612;
            }
        }
    }
    .feature{
        margin:auto auto
     } 
}
    @media (min-width: 1449px) {
       .logo{
        height: 45px;
        width: 167px;
       }
    }
