.overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 20px;
    .inner-vid{
        position: relative;
    width: 100%;
    max-width: 900px;
    margin: auto;
    
    video {
        height: 100%;
        width: 100%;
    }
    }
}
.hide{
    display:none
}