.pane{
    width: 50%;

}

img{
    max-width: 100%;
    height: auto;
}
.title{
    font-size: 50px;
    line-height: 1.1;
    margin-bottom: 8px;
    color:black
}

.inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-direction: ${({ direction }) => direction};
    max-width: 1100px;
    margin: auto;
    width: 100%;
}
.subtitle{
    font-size: 26px;
    font-weight: normal;
    line-height: normal;
}
@media (max-width: 1000px) {
    .pane{
    width: 100%;
    padding: 0 45px;
    text-align: center;
    }
}
@media (max-width: 600px) {
    .title{
        font-size: 35px;
    }
    .subtitle{
        font-size: 18px;

    }
}