.container-form{
    display: flex;
    justify-content: center;
    // height: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
    .email-address{
        max-width: 450px;
        width: 100%;
        border: 0;
        padding: 10px;
        height: 70px;
        box-sizing: border-box;
    
    }
    .cta{
        display: flex;
        align-items: center;
        height: 70px;
        background: #e50914;
        color: white;
        text-transform: uppercase;
        padding: 0 32px;
        font-size: 26px;
        border: 0;
        cursor: pointer;
    
        &:hover {
            background: #f40612;
        }
        img {
            margin-left: 10px;
            filter: brightness(0) invert(1);
            width: 24px;
        }
    
    }
    .form-text{
        font-size: 19px;
        color: white;
        text-align: center;
    
    }
}



@media (max-width: 600px) {
    .form-text{
        font-size: 16px;
        line-height: 22px;
    }
}
@media (max-width: 1000px) {
   
   .container-form{
    flex-direction: column;
    align-items: center;
    width: 70%;
    justify-content: center;
    margin: 0 auto;
    .email-address{
        height:40px;
    }
    .cta{
        height: 50px;
        font-size: 16px;
        margin-top: 20px;
        font-weight: bold;
            img{
                width: 16px;
            }
       }
   }
}